/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .left1 img,
  .middle1 img {
    top: -50%;
  }

  .inova_left {
    padding-right: 50px;
  }

  .inova_left h2 {
    color: rgb(72, 72, 72);
    font-family: Poppins;
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
  }

  .layout_box_area {
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
    text-align: center !important;
    margin: 0 auto !important;
    padding-top: 125px !important;
    justify-content: space-evenly !important;
  }
}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  #testimonail {
    padding: 50px 0px;
  }

  .left1 img,
  .middle1 img {
    top: -28%;
  }

  .testimonail-heading h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 33px;
  }

  .testimonail-heading ul li img {
    width: 24px;
  }

  .testimonail-heading h3 {
    font-size: 18px;
  }

  .products-slider {
    margin-top: 20px;
  }

  .testi_slider {
    margin: 0;
    padding: 25px 15px;
  }

  .slider_testi {
    margin-right: -15px;
  }

  .testi_slider_heading h4 {
    font-size: 18px;
  }

  .testi_slider_heading p {
    font-size: 16px;
  }

  .testi_slider_para p {
    font-size: 13px;
    margin-top: 10px;
  }

  .testi_slider_para ul li img {
    width: 18px !important;
  }

  .products-slider .owl-dots {
    margin-top: 20px;
  }

  .blog_p p {
    font-size: 14px !important;
    padding-right: 15px;
  }

  .left1,
  .middle1,
  .right1 {
    flex-direction: column;
    gap: 10px !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }

  .box_area_wiw {
    height: 300px !important;
  }

  .partImages {
    width: 50%;
    row-gap: 8px;
  }

  .gallery {
    height: 650px !important;
    column-gap: 8px;
  }

  .inova_right {
    margin: 0;
  }

  #inova .row.align-items-center {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
  }

  #inova .col-md-6 {
    padding: 0 !important;
  }

  #inova {
    padding-top: 20px;
  }

  .gallery img {
    border: 0;
    border-radius: 6px;
  }

  .inova_left {
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .inova_left h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
  }

  .inova_left ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .providor_bannar {
    background: none;
    background-color: #e8f7f4;
  }

  .providor_img {
    display: none;
  }

  .banner {
    height: 660px !important;
  }

  .providor_bannar .s_provider {
    padding-bottom: 0;
  }

  .layout_box_area {
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
    text-align: center !important;
    margin: 0 auto !important;
    padding-top: 125px !important;
    justify-content: space-evenly !important;
  }
}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {
  #testimonail {
    padding: 50px 0px;
  }

  .testimonail-heading h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 33px;
  }

  .testimonail-heading ul li img {
    width: 24px;
  }

  .testimonail-heading h3 {
    font-size: 18px;
  }

  .products-slider {
    margin-top: 20px;
  }

  .testi_slider {
    margin: 0;
    padding: 25px 15px;
  }

  .slider_testi {
    margin-right: -15px;
  }

  .testi_slider_heading h4 {
    font-size: 18px;
  }

  .testi_slider_heading p {
    font-size: 16px;
  }

  .testi_slider_para p {
    font-size: 13px;
    margin-top: 10px;
  }

  .testi_slider_para ul li img {
    width: 18px !important;
  }

  .products-slider .owl-dots {
    margin-top: 20px;
  }

  .left1 img,
  .middle1 img {
    display: none;
  }

  .banner {
    align-items: flex-end;
  }

  .title_banner {
    padding-bottom: 50px;
  }

  .secbanner {
    background-image: url(../img/mbhero.png);
    background-repeat: no-repeat;
    background-position: top;
  }

  .box_area_rbs,
  .box_content_area {
    width: 340px !important;
  }

  .blog_wrapper::-webkit-scrollbar,
  .box_wrapper::-webkit-scrollbar {
    display: none;
  }

  .blog_wrapper,
  .box_wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .gift_btn {
    display: block;
    width: 100%;
  }

  .blog_wrapper,
  .box_wrapper {
    margin-right: -8.3rem;
  }

  .thirdcol {
    display: none;
  }

  .partImages {
    width: 50%;
    row-gap: 8px;
  }

  .gallery {
    height: 600px !important;
    column-gap: 8px;
  }

  .inova_right {
    margin: 0;
  }

  #inova .row.align-items-center {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
  }

  #inova .col-md-6 {
    padding: 0 !important;
  }

  #inova {
    padding-top: 20px;
  }

  .gallery img {
    border: 0;
    border-radius: 6px;
  }

  .inova_left {
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .inova_left h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
  }

  .inova_left ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }

  body {
    overflow-x: hidden;
  }

  .bg_search_area {
    width: 100%;
  }

  .right_section button {
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    background-image: url(../img/search.png);
    background-size: 100% 100%;
    position: relative;
    left: -4px;
  }

  .right_section button span {
    display: none;
  }

  .left_section .dropbtn {
    margin-left: 15px;
  }

  .left_section .dropbtn i {
    left: inherit !important;
    right: -20px;
  }

  .active_providor .dropdown a {
    display: block;
    width: 90%;
  }

  .providor_bannar {
    background: none;
    background-color: #e8f7f4;
  }

  .providor_img {
    display: none;
  }

  .providor_bannar .banner {
    height: 375px !important;
  }

  .providor_bannar .s_provider {
    padding-bottom: 0;
  }

  .box_wrapper,
  .blog_wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    transition: all 0.5s ease;
  }

  .box_content_area,
  .box_area_rbs {
    min-width: 320px;
  }

  .box_dot ol,
  .blgdot ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
  }

  .box_dot ol li,
  .blgdot ol li {
    display: inline-block;
  }

  .box_dot ol li span,
  .blgdot ol li span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ffde05;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .box_dot ol li span:hover,
  .blgdot ol li span:hover {
    background-color: #000 !important;
  }

  .box_dot ol li span.itemActive,
  .blgdot ol li span.itemActive {
    background-color: #000 !important;
  }

  .box_wrapper,
  .blog_wrapper {
    width: 1450px;
  }

  .box_area_rbs {
    margin: 0 !important;
  }

  .left_section .dropdown {
    width: 87%;
  }

  .left_section .dropdown span {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }

  .active_providor .left_section .dropdown {
    width: 100%;
  }

  .active_providor .left_section .dropbtn i {
    left: inherit !important;
    right: 5px;
  }

  .layout_box_area {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: auto auto !important;
    padding-top: 30px !important;
    justify-content: space-between;
  }
}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {
  #testimonail {
    padding: 50px 0px;
  }
  .box_area_rbs {
    margin: 0 !important;
  }

  .testimonail-heading h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 33px;
  }

  .testimonail-heading ul li img {
    width: 24px;
  }

  .testimonail-heading h3 {
    font-size: 18px;
  }

  .products-slider {
    margin-top: 20px;
  }

  .testi_slider {
    margin: 0;
    padding: 25px 15px;
  }

  .slider_testi {
    margin-right: -15px;
  }

  .testi_slider_heading h4 {
    font-size: 18px;
  }

  .testi_slider_heading p {
    font-size: 16px;
  }

  .testi_slider_para p {
    font-size: 13px;
    margin-top: 10px;
  }

  .testi_slider_para ul li img {
    width: 18px !important;
  }

  .products-slider .owl-dots {
    margin-top: 20px;
  }

  .box_area_rbs,
  .box_content_area {
    width: 340px !important;
  }

  .blog_wrapper::-webkit-scrollbar,
  .box_wrapper::-webkit-scrollbar {
    display: none;
  }

  .blog_wrapper,
  .box_wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .blog_wrapper,
  .box_wrapper {
    margin-right: -0.75rem;
  }

  .gift_btn {
    display: block;
    width: 100%;
  }

  .left1 img,
  .middle1 img {
    display: none;
  }

  .banner {
    align-items: flex-end;
  }

  .title_banner {
    padding-bottom: 50px;
  }

  .secbanner {
    background-image: url(../img/mbhero.png);
    background-repeat: no-repeat;
    background-position: top;
  }

  .thirdcol {
    display: none;
  }

  .partImages {
    width: 50%;
    row-gap: 8px;
  }

  .gallery {
    height: 500px !important;
    column-gap: 8px;
  }

  .inova_right {
    margin: 0;
  }

  #inova .row.align-items-center {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
  }

  #inova .col-md-6 {
    padding: 0 !important;
  }

  #inova {
    padding-top: 20px;
  }

  .gallery img {
    border: 0;
    border-radius: 6px;
  }

  .inova_left {
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .inova_left h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
  }

  .inova_left ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }

  body {
    overflow-x: hidden;
  }

  .bg_search_area {
    width: 100%;
  }

  .right_section button {
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    background-image: url(../img/search.png);
    background-size: 100% 100%;
    position: relative;
    left: -4px;
  }


  .right_section button span {
    display: none;
  }

  .left_section .dropbtn {
    margin-left: 15px;
  }

  .left_section .dropbtn i {
    left: inherit !important;
    right: -20px;
  }

  .active_providor .dropdown a {
    display: block;
    width: 100%;
  }

  .providor_bannar {
    background: none;
    background-color: #e8f7f4;
  }

  .providor_img {
    display: none;
  }

  .providor_bannar .banner {
    height: 375px !important;
  }

  .providor_bannar .s_provider {
    padding-bottom: 0;
  }

  .box_wrapper,
  .blog_wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    transition: all 0.5s ease;
  }

  .box_content_area,
  .box_area_rbs {
    min-width: 320px;
  }

  .box_dot ol,
  .blgdot ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
  }

  .box_dot ol li,
  .blgdot ol li {
    display: inline-block;
  }

  .box_dot ol li span,
  .blgdot ol li span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ffde05;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .box_dot ol li span:hover,
  .blgdot ol li span:hover {
    background-color: #000 !important;
  }

  .box_dot ol li span.itemActive,
  .blgdot ol li span.itemActive {
    background-color: #000 !important;
  }

  .left_section .dropdown {
    width: 87%;
  }

  .left_section .dropdown span {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }

  .active_providor .left_section .dropdown {
    width: 100%;
  }

  .active_providor .left_section .dropbtn i {
    left: inherit !important;
    right: 5px;
  }

  .layout_box_area {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: auto auto !important;
    padding-top: 30px !important;
    justify-content: space-between;
  }


  .btn_s, .btn_c {
    padding: 10px 16px!important;
}

  .button_area {
      margin-top: 60px!important;
      text-align: center;
  }
  .button_area_r {
    margin-top: 90px!important;
  }
  .secbabycito_gift {
    padding-top: 32px!important;
    background: #E1F6EE;
    text-align: center;
    padding-bottom: 32px!important;
  }
  .secbabycito_gift h2 {
    font-size: 26px!important;
    color: #484848;
    font-weight: 600;
  }
  .gift_content p {
    font-size: 16px!important;
    margin-bottom: 30px!important;
  }
  .gift_content span {
    color: #484848!important;
    font-weight: 300!important;
  }
  .content_gift h2 {
    font-size: 14px!important;
   
  }
  .recent_blog {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
  }
  .recent_blog_content_area h2 {
    font-size: 26px!important;
  }
  .question_area {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
  }
  .asked_questions h2 {
    font-size: 22px!important;
    font-weight: 500!important;
  }
  .left_question_area {
    width: 100%;
    padding: 10px!important;
    margin-bottom: 30px!important;
  }
  .asked_questions h2 {
    font-size: 22px!important;
    font-weight: 500!important;

  }
  .p_questions {
    margin-top: 15px!important;
    font-size: 15px!important;
    text-align: center!important;
    line-height: 22px!important;
  }
  .btn_area_ques {
    text-align: center;
    margin-bottom: 15px!important;
  }
  .ques {
    margin-top: 30px;
    padding: 10px 16px!important;
    font-size: 13px!important;
}

  .ques_r {
      background: #FFD6EF;
      border-color: #535353;
      color: #343434;
      margin-left: 0px!important;
  }
  .accordion {
    padding: 10px!important;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px!important;
    transition: 0.4s;
    margin-bottom: 16px;
  }
  .panel p {
    font-size: 14px!important;
    margin-top: 10px!important;
    line-height: 22px!important;
  }
  .table_area_d {
    margin: 0 auto;
    width: 100%!important;
  }
  .box_area_midil{
    height: 400px!important;
  }
  .btn_phone, .btn_love{
    padding: 10px 12px!important;
  }
  .inova_left p {
    margin-bottom: 0px!important;
  }
  .btn_pr_area {
    text-align: center;
  }
  .btn_top_cat, .btn_all_cat {
    padding: 12px 24px!important;
  }
  


}
